<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cmn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cmn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cmn" class="no-js">
<!--<![endif]-->
<!-- BEGIN INCLUDE HEAD -->
<include file="Public/head" />
<!-- END INCLUDE HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body class="page-boxed page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo">
    <!-- BEGIN INCLUDE HEADER -->
    <include file="Public/header" />
    <!-- END INCLUDE HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="container">
        <div class="page-container">
            <!-- BEGIN INCLUDE SIDEBAR -->
            <include file="Public/sidebar" />
            <!-- END INCLUDE SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    modal-body
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue submit">Save changes</button>
                                    <button type="button" class="btn default closeBtn" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                    <!-- BEGIN PAGE HEADER-->
                    <h3 class="page-title">Place Calendar Manage</h3>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <span>Home</span>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>Place Calendar Manage</span>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-fit-height green-haze dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                Actions <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="#portlet-config" data-toggle="modal" onclick="picker()"><i class="fa fa-calendar"></i>  Select Month </a>
                                    </li>
                                    <li>
                                        <a href="#portlet-config" data-toggle="modal"><i class="fa  fa-check-square-o"></i>  Batch Modify </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN PAGE CONTAINER-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box red-intense">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-globe"></i>Place Calendar
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="javascript:;" class="reload" onclick="reloadData()">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-bordered" id="myTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <center>Sunday</center>
                                                </th>
                                                <th>
                                                    <center>Saturday</center>
                                                </th>            
                                                <th>
                                                    <center>Friday</center>
                                                </th>          
                                                <th>
                                                    <center>Thursday</center>
                                                </th>
                                                <th>                
                                                    <center>Wednesday</center>
                                                </th>
                                                <th>
                                                    <center>Tuesday</center>
                                                </th>
                                                <th>
                                                    <center>Monday</center>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE CONTAINER-->
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN INCLUDE FOOTER -->
        <include file="Public/footer" />
        <!-- END INCLUDE FOOTER -->
    </div>
    <!-- BEGIN JAVASCRIPTS TEMPLATE -->
    <script id="tableBody" type="text/html">
        {{each retdata as value i}}
        <tr>
            <td>
                <center>123</center>
            </td>
            <td>
                <center>123</center>
            </td>
            <td>
                <center>123</center>
            </td>
            <td>
                <center>123</center>
            </td>
            <td>
                <center>{{if value.userType == 1 }}<span class="label label-warning">Admin</span>{{/if}}</center>
            </td>
            <td>
                {{if value.state == 2 }}<span class="label label-danger">Disable</span>{{/if}}
            </td>
            <td>
                {{value.discount}} 折
            </td>
        </tr>
        {{/each}}
    </script>
    <script id="myPicker" type="text/html">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4">Select Months Only</label>
                <div class="col-md-8">
                    <div class="input-group input-medium date date-picker" data-date="10/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id="myRangePicker" type="text/html">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4">Default Date Ranges</label>
                <div class="col-md-8">
                    <div class="input-group input-large" id="rangePicker">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                        <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id="myForm" type="text/html">
        <form class="myForm form-horizontal form-bordered form-row-stripped">
            <div class="form-body">
                <input type="hidden" class="form-control" name="userId" value="{{userId}}"/>
                <div class="form-group">
                    <label class="control-label col-md-3">User Name</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="User Name" class="form-control" name="userName" value="{{userName}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Account</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Account" class="form-control" name="account" value="{{account}}" {{if operType == '2' }}readonly{{/if}}/>
                    </div>
                </div>                
                <div class="form-group">
                    <label class="control-label col-md-3">Password</label>
                    <div class="col-md-9">
                        <input type="password" placeholder="Password" class="form-control" name="password" value="{{password}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">State</label>
                    <div class="col-md-9">
                        <div class="radio-list" data-error-container="#state_error">
                            <label>
                            <input type="radio" name="state" value="1" {{if state == '1' }}checked{{/if}}/>
                            Enable </label>
                            <label>
                            <input type="radio" name="state" value="2" {{if state == '2' }}checked{{/if}}/>
                            Disable </label>
                        </div>                        
                        <div id="state_error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">User Type</label>
                    <div class="col-md-9">
                        <div class="radio-list" data-error-container="#userType_error">
                            <label>
                            <input type="radio" name="userType" value="1" {{if userType == '1' }}checked{{/if}}/>
                            Admin </label>
                            <label>
                            <input type="radio" name="userType" value="2" {{if userType == '2' }}checked{{/if}}/>
                            Member </label>
                        </div>
                        <div id="userType_error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Discount</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Discount" class="form-control" name="discount" value="{{discount}}">
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id="delTip" type="text/html">
        Confirm delete <span class="label label-danger">{{userName}}</span> - <span class="label label-danger">{{account}}</span> ?
    </script>
    <!-- END JAVASCRIPTS TEMPLATE -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ASSETS__/global/plugins/respond.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/excanvas.min.js"></script> 
    <![endif]-->
    <script type="text/javascript" src="__ASSETS__/global/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="__ASSETS__/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-toastr/toastr.min.js"></script>    
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="__ASSETS__/global/scripts/metronic.js"></script>
    <script type="text/javascript" src="__ASSETS__/admin/layout2/scripts/layout.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN DEVELOP SCRIPTS -->
    <script type="text/javascript" src="__PUBLIC__/scripts/lib/config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/lib/template.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/models/placeCalendar.js"></script>
    <!-- END DEVELOP SCRIPTS -->
    <script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        PlaceCalendar.init();
    });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>
