<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cmn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cmn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cmn" class="no-js">
<!--<![endif]-->
<!-- BEGIN INCLUDE HEAD -->
<include file="Public/head" />
<!-- END INCLUDE HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo">
    <!-- BEGIN INCLUDE HEADER -->
    <include file="Public/header" />
    <!-- END INCLUDE HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN INCLUDE SIDEBAR -->
        <include file="Public/sidebar" />
        <!-- END INCLUDE SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                modal-body
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue submit">Save changes</button>
                                <button type="button" class="btn default closeBtn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
                <h3 class="page-title">Place Calendar Manage </h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>Place Calendar Manage</span>
                        </li>
                    </ul>
                    <div class="page-toolbar">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-fit-height green-haze dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            Actions <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#portlet-config" data-toggle="modal" onclick="picker()"><i class="fa fa-calendar"></i>  Select Month </a>
                                </li>
                                <li class="batch-modify">
                                    <a href="#portlet-config" data-toggle="modal" onclick="rangePicker()"><i class="fa fa-check-square-o"></i>  Batch Modify </a>
                                </li>
                                <!-- Only the administrator can see -->
                                <if condition="$Think.session.user.user_type lt 2">
                                    <li>
                                        <a onclick="changePattern(true)"><i class="fa fa-exchange"></i>  Change Pattern </a> <!-- Admin show this button -->
                                    </li>
                                </if>  
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTAINER-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" style="display: none;">
                            <center><strong>Notifications!</strong>&nbsp;&nbsp;&nbsp; You are in the Order Pattern.</center>
                        </div>
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box red-intense">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-globe"></i>Place Calendar
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <h3 class="year-month"><center>March 2016<center></h3>
                                <table class="table table-bordered" id="myTable">
                                    <thead>
                                        <tr>
                                            <th class="cal-th">
                                                <center>Sunday</center>
                                            </th>
                                            <th class="cal-th">
                                                <center>Monday</center>
                                            </th>            
                                            <th class="cal-th">
                                                <center>Friday</center>
                                            </th>          
                                            <th class="cal-th">
                                                <center>Thursday</center>
                                            </th>
                                            <th class="cal-th">                
                                                <center>Wednesday</center>
                                            </th>
                                            <th class="cal-th">
                                                <center>Tuesday</center>
                                            </th>
                                            <th class="cal-th">
                                                <center>Saturday</center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
                <!-- END PAGE CONTAINER-->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN INCLUDE FOOTER -->
    <include file="Public/footer" />
    <!-- END INCLUDE FOOTER -->
    <!-- BEGIN JAVASCRIPTS TEMPLATE -->
    <script id="tableBody" type="text/html">
        {{each list as valueList i}}
        <tr>
            {{each valueList as value t}}
                {{if value != NULL }}
                    {{if !value.thisMonth}} 
                        <!-- 不是本月份 -->
                        <td class="cal-dt not-this-month">
                            <span class="day">{{value.day}}<span><br/>
                            <span class="price">￥{{value.price}}</span>
                        </td>
                    {{else if value.state != 1}} 
                        <!-- 不可预定 -->
                        <td class="cal-dt cal-dt-lock">
                            <span class="day">{{value.day}}<span><br/>
                            <span class="price">￥{{value.price}}</span>
                        </td>
                    {{else}}
                        <td class="cal-dt" data-datastr="{{value.dataStr}}">
                            <a href="#portlet-config" data-toggle="modal" class="price-btn">
                                <span class="day">{{value.day}}<span><br/>
                                <span class="price">￥{{value.price}}</span>
                            </a>
                        </td>
                    {{/if}}
                {{else}}
                    <td class="cal-dt not-this-month">
                    </td>
                {{/if}}
            {{/each}}
        </tr>
        {{/each}}
    </script>
    <script id="myPicker" type="text/html">
        <form class="myPicker form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4">Select Months Only</label>
                <div class="col-md-8">
                    <div class="input-group input-medium date date-picker" data-error-container="#mounth_error">
                        <input type="text" class="form-control" name="month" readonly>
                        <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                    <div id="mounth_error"></div>
                </div>
            </div>
        </form>
    </script>
    <script id="price" type="text/html">
        <form class="price form-horizontal form-bordered form-row-stripped">
            <div class="form-body">
                <input type="hidden" class="form-control" name="id" value="{{id}}"/>
                <div class="form-group">
                    <label class="control-label col-md-4">Place Calendar Date</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="Place Calendar Date" class="form-control" name="date" value="{{date}}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Place Calendar Price</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="Place Calendar Price" class="form-control" name="price" value="{{price}}"/>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id="myRangePicker" type="text/html">
        <form class="myRangePicker form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-4">Date Ranges</label>
                    <div class="col-md-8">
                        <div class="input-group input-large rangePicker" data-error-container="#rangePicker_error">
                            <input type="text" class="form-control" name="rangePicker" readonly>
                            <span class="input-group-btn">
                                <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>                    
                        <div id="rangePicker_error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Place Calendar Price</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="Place Calendar Price" class="form-control" name="price"/>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id="orderForm" type="text/html">
        <form class="orderForm form-horizontal form-bordered form-row-stripped">
            <div class="form-body">
                <input type="hidden" class="form-control" name="goodsId" value="{{id}}"/>
                <div class="form-group">
                    <label class="control-label col-md-3">Date</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Date" class="form-control" name="date" value="{{date}}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Price</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Price" class="form-control" name="price" value="{{price}}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Orderer</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Orderer" class="form-control" name="orderer" value="<{$Think.session.user.user_name}>"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Mobile</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Mobile" class="form-control" name="mobile" value="<{$Think.session.user.account}>"/>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id="delTip" type="text/html">
        Confirm delete <span class="label label-danger">{{userName}}</span> - <span class="label label-danger">{{account}}</span> ?
    </script>
    <!-- END JAVASCRIPTS TEMPLATE -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ASSETS__/global/plugins/respond.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/excanvas.min.js"></script> 
    <![endif]-->
    <script type="text/javascript" src="__ASSETS__/global/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="__ASSETS__/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="__ASSETS__/global/plugins/bootstrap-toastr/toastr.min.js"></script>    
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="__ASSETS__/global/scripts/metronic.js"></script>
    <script type="text/javascript" src="__ASSETS__/admin/layout2/scripts/layout.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN DEVELOP SCRIPTS -->
    <script type="text/javascript" src="__PUBLIC__/scripts/lib/config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/lib/template.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/models/placeCalendar.js"></script>
    <!-- END DEVELOP SCRIPTS -->
    <script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        <if condition="$Think.session.user.user_type gt 1">
            PlaceCalendar.orderPattern = true; // Member default use Order Pattern
        </if>        
        PlaceCalendar.init();
    });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>
